#sidebar {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 315px;
    background: cyan;
    // blue to green
    // 70e1f5, ffd194
    // #ccccb2, #757519
	background: -webkit-linear-gradient(#70e1f5, #757519); 
    background: -o-linear-gradient(#70e1f5, #757519); 
    background: -moz-linear-gradient(#70e1f5, #757519); 
    background: linear-gradient(#70e1f5, #757519);
    box-sizing: border-box;
    z-index: 10;
    border: 1px solid #bbb;
    box-sizing: border-box
}
#sidebar-footer {
    border-top: 1px solid #bbb;
    // orange
    background: #ed8f03;
	background: -webkit-linear-gradient(#ffb75e, #ed8f03); 
    background: -o-linear-gradient(#ffb75e, #ed8f03); 
    background: -moz-linear-gradient(#ffb75e, #ed8f03); 
    background: linear-gradient(#ffb75e, #ed8f03);
    text-align: right;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 25px;
    line-height: 23px;
    padding: 0 10px
}
#workspace-footer {
    border-top: 1px solid #bbb;
    // orange
    background: #ed8f03;
	background: -webkit-linear-gradient(#ffb75e, #ed8f03); 
    background: -o-linear-gradient(#ffb75e, #ed8f03); 
    background: -moz-linear-gradient(#ffb75e, #ed8f03); 
    background: linear-gradient(#ffb75e, #ed8f03);
    text-align: right;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 25px;
    line-height: 23px;
    padding: 0 10px
}
#palette-footer {
    border-top: 1px solid #bbb;
    // orange
    background: #ed8f03;
	background: -webkit-linear-gradient(#ffb75e, #ed8f03); 
    background: -o-linear-gradient(#ffb75e, #ed8f03); 
    background: -moz-linear-gradient(#ffb75e, #ed8f03); 
    background: linear-gradient(#ffb75e, #ed8f03);
    text-align: right;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 25px;
    line-height: 23px;
    padding: 0 10px
}
#btn-deploy.disabled {
    cursor: default;
    background: gray;
	background: -webkit-linear-gradient(#ccccb2, #757519); 
    background: -o-linear-gradient(#ccccb2, #757519); 
    background: -moz-linear-gradient(#ccccb2, #757519); 
    background: linear-gradient(#ccccb2, #757519)    
    color: #999 !important
}
.deploy-button:hover {
    background: cyan;
	background: -webkit-linear-gradient(white, blue); 
    background: -o-linear-gradient(white, blue); 
    background: -moz-linear-gradient(white, blue); 
    background: linear-gradient(white, blue);
}
.deploy-button {
    background: green;
	background: -webkit-linear-gradient(blue, green); 
    background: -o-linear-gradient(blue, green); 
    background: -moz-linear-gradient(blue, green); 
    background: linear-gradient(blue, green)    
}
#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: #000;
	background: -webkit-linear-gradient(#f46b45, #eea849); 
    background: -o-linear-gradient(#f46b45, #eea849); 
    background: -moz-linear-gradient(#f46b45, #eea849); 
    background: linear-gradient(#f46b45, #eea849)    
    box-sizing: border-box;
    padding: 0px 0px 0px 20px;
    color: white;
    font-size: 14px
}
.dropdown-menu * .fa-check-square {
    display: none;
    color: yellow;
    margin-left: -25px;
    margin-top: 3px
}
.red-ui-tabs ul li.active {
    background: cyan;
    font-weight: bold;
    border-bottom: 1px solid #fff;
    z-index: 2
}
.red-ui-tabs ul li.active a {
    color: white;
    background: cyan;
    // f0c27b, 4b1248
    // #6a9113, #141517
	background: -webkit-linear-gradient(#f0c27b, #4b1248); 
    background: -o-linear-gradient(#f0c27b, #4b1248); 
    background: -moz-linear-gradient(#f0c27b, #4b1248); 
    background: linear-gradient(#f0c27b, #4b1248)    
}
.red-ui-tabs ul li:not(.active) a:hover {
    color: #666;
    background: gray;
	background: -webkit-linear-gradient(gray, white); 
    background: -o-linear-gradient(gray, white); 
    background: -moz-linear-gradient(gray, white); 
    background: linear-gradient(gray, white)    
}
